.index{
  background-color: 	#7E85FF;
  
}

.mainContainer{
  background-color: #161616;
  clip-path: polygon(0% 40%, 100% 5%, 100% 100%,100% 100%, 0 100%);
  align-items: center;
}
.indexTop{
  /* float: left; */
  position: absolute;
  top: 4rem;
  z-index: 1;
}

.typingText{
  color: yellow;
}



.ColRowMain{
  border: 2px solid transparent;
  border-radius: 0.35rem;
  border-image: linear-gradient(to right, rgb(96, 96, 92), #161616 );
  border-image-slice: 1;
}

.img img{
  border: 2px solid #7E85FF;
  border-radius: 5rem;
  margin: 20px;
  margin-top: 0;
  width: 6rem;
  height: 6rem;
}

.mainContainer span{
  color: #4f57eb;
}

.link{
  text-decoration: none;
  color: white;
}

/* .ColRowMain{
  background: linear-gradient(114.7deg, rgb(39, 39, 42) -9.77%, rgb(24, 24, 27) 110.32%);
  border: 2px solid, #818cf8;
} */


/* About hostel card section */
.cards{
  height: 100%;
  width: 85%;
  border-radius: 10px;
  background-color: white;
}
.image{
  height: 45%;
}

.image img{
  margin: 20px;
  height: 80%;
  width: 80%;
}

.text{
  color: white;
  height: 55%;
  background-color: #161616;;
  border-radius: 10px;
}

.text p{
  padding: 30px;
}

@media (max-width: 1000px) {
  .mainContainer{
    background-color: #161616;
    clip-path: polygon(0% 22%, 100% 6%, 100% 100%,100% 100%, 0 100%);
    color: blue;
    text-align: center;
    align-items: center;
  }

  .ColRowMain{
    border: 2px solid transparent;
    border-radius: 0.35rem;
    border-image: linear-gradient(to top, rgb(96, 96, 92), #161616 ) !important;
    border-image-slice: 1;
  }

  .img{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img img{
    width: 10rem;
    height: 10rem;
  }
  .aboutCards{
    margin-top: 5rem;
  }
  .cards{
    width: 90%;
    height: 20rem;
  }
}