.Facilities {
    background-color: #7E85FF;
}

.MainContainer {
    background-color: #161616;
    clip-path: polygon(0% 30%, 75% 10%, 100% 20%, 100% 100%, 0% 100%);
    align-items: center;
}

.FacilitiesTop {
    position: absolute;
    /* margin: 0 7rem;
    top: 4rem; */
    z-index: 1;
    text-align: left;
}
.ColRowMain{
    border: 2px solid transparent;
    border-radius: 0.35rem;
    border-image: linear-gradient(to right, rgb(96, 96, 92), #161616 );
    border-image-slice: 1;
  }

  .img img{
    border: 2px solid #7E85FF;
    border-radius: 5rem;
    margin: 20px;
    margin-top: 0;
    width: 6rem;
    height: 6rem;
  }

  .typingText{
    color: yellow;
  }

h4 span{
    color: yellowgreen;
}



@media (max-width: 1000px) {
    .MainContainer {
        background-color: #161616;
        clip-path: polygon(0% 10%, 75% 5%, 100% 7%, 100% 100%, 0% 100%) !important;
        align-items: center;
    }

    .img img{
        width: 10rem;
        height: 10rem;
      }
  }