.nav_bar {
    display: flex;
    position: fixed;
    float: right;
    width: 100vw;
}

.right_align {
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    color: white;
   
}

.link:hover {
    color: #ffc107;
}

.title {
    text-decoration: none;
    color: white;
}

.title:hover {
    color: #ffc107;
}

.nav_elements {
    display: flex;
    align-items: center;
}