.nav_bar {
    /* display: flex; */
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    float: right;
    width: 100%;
    font-weight: bold;
    z-index: 50;
    backdrop-filter: blur(8px);
}

.right_align {
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    color: white;
   
}

.link:hover {
    color: #ffc107;
}

.title {
    text-decoration: none;
    color: white;
}

.title:hover {
    color: #ffc107;
}

.nav_elements {
    display: flex;
    align-items: center;
}