.nav_bar {
    display: flex;
    position: fixed;
    float: right;
}

.right_align {
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #ffc107;
}