@font-face {
  font-family: 'regular';
  src: local('Proxima Nova'),url("./fonts/nova.otf"),format('opentype');
}

.App {
  text-align: justify;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  height: 100%;
  background-color: #161616;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body {
  font-size: xx-large;
} */