.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.itemContainer {
  margin-top: 2rem;
}

Card {
  background-color: aqua !important;
}

@media (max-width: 767px) {
  .itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Row {
    display: block !important;
  }
  .Col {
    margin-bottom: 15px;
  }
}
